.tab-content {
  padding-top: 1.25rem;
  height: calc(100% - 2rem);
}

.tab-pane {
  height: 100%;
}

.tab-pane > .dropzone {
  height: 100%;
}

.btn-inner-spinner {
  margin-right: 8px;
}

.nav-tabs {
  flex-wrap: nowrap;
}

.nav-tabs > a {
  text-overflow: ellipsis;
  display: inline-block;
  word-break: keep-all;
  overflow: hidden;
}