.tab-content {
  padding-top: 1.25rem;
  height: calc(100% - 2rem);
}

.tab-pane {
  height: 100%;
}

.dropzone {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropzone > p {
  margin-top: .5rem;
}

.btn-inner-spinner {
  margin-right: 8px;
}

.nav-tabs {
  flex-wrap: nowrap;
}

.nav-item > a {
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow: hidden;
}
